<html lang="sv">
<%- include("../partials/head.ejs") %> 

<body>
  <%- include ("../partials/nav.ejs") %>

  <div class="maincontent members__single">
    

    <div class="content">
      <h2><%= member.name %></h2>
      <p class="medlem startdate">Medlem sedan: <%= member.startdate %></p>
      <p class="medlem slogan">Slogan: <%= member.slogan %></p>
      <span>
      <h3 class="medlem kontakt">Kontaktuppgifter</h3>
      <p class="medlem email">Email: <%= member.email %></p>
      <p class="medlem phone"> Telefon: <%= member.phone %></p>
      </span>
      <a href="/medlemmar/<%=member.id%>/uppdatera">
        Ändra</a>
      <a class="delete" 
      data-doc="<%= member._id %>">
      Avregistrera medlem</a>
    </div>
</div>
<!--vanilla js i frontenden:-->
  <script>
    const deletebutt = document.querySelector('a.delete');
    deletebutt.addEventListener('click', (e) => {
      //delete request till specifik endpoint:
      const endpoint = `/medlemmar/${deletebutt.dataset.doc}`;
      //fetch API:
      fetch(endpoint, {
        method: 'DELETE',
      })
      //använda metod på json så det blir ett js-objekt
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
    
  
  </script>

  <%- include("../partials/footer.ejs") %>
</body>
</html>